In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
from scipy.spatial import distance
from sklearn import preprocessing

In [3]:
df=pd.read_table('/Users/Li/Google Drive/UIUC_Study/2015Fall/CS412/HW/HW2/Data_Q2.txt',names=['Business ID', 'City', 'State', 'Category', 'Price', 'Quarter-of-Year', 'Year'])
df

,Business ID,City,State,Category,Price,Quarter-of-Year,Year
0,0,Springfield,Illinois,clothes,moderate,Q3,2012
1,1,Pittsburg,Pennsylvania,clothes,cheap,Q4,2013
2,2,Springfield,Illinois,sports,expensive,Q2,2013
3,3,Philadelphia,Pennsylvania,food,cheap,Q4,2013
4,4,Pittsburg,Pennsylvania,clothes,moderate,Q1,2013
5,5,Pittsburg,Pennsylvania,sports,moderate,Q3,2012
6,6,Chicago,Illinois,sports,expensive,Q3,2013
7,7,Philadelphia,Pennsylvania,sports,expensive,Q4,2013
8,8,Pittsburg,Pennsylvania,food,moderate,Q2,2013
9,9,Philadelphia,Pennsylvania,food,expensive,Q2,2012
10,10,Chicago,Illinois,clothes,cheap,Q4,2012
11,11,Chicago,Illinois,food,cheap,Q2,2012
12,12,Springfield,Illinois,clothes,moderate,Q1,2013
13,13,Pittsburg,Pennsylvania,food,expensive,Q3,2012
14,14,Springfield,Illinois,sports,cheap,Q2,2012
15,15,Springfield,Illinois,sports,cheap,Q4,2012
16,16,Philadelphia,Pennsylvania,clothes,cheap,Q1,2012
17,17,Chicago,Illinois,sports,moderate,Q3,2013
18,18,Chicago,Illinois,clothes,expensive,Q3,2013
19,19,Philadelphia,Pennsylvania,clothes,moderate,Q3,2012
20,20,Philadelphia,Pennsylvania,clothes,moderate,Q4,2013
21,21,Pittsburg,Pennsylvania,sports,expensive,Q2,2012
22,22,Pittsburg,Pennsylvania,clothes,expensive,Q3,2013
23,23,Chicago,Illinois,sports,moderate,Q3,2012
24,24,Philadelphia,Pennsylvania,sports,expensive,Q4,2012
25,25,Chicago,Illinois,clothes,expensive,Q2,2013
26,26,Pittsburg,Pennsylvania,sports,moderate,Q3,2013
27,27,Pittsburg,Pennsylvania,sports,moderate,Q4,2012
28,28,Pittsburg,Pennsylvania,sports,cheap,Q1,2013
29,29,Pittsburg,Pennsylvania,sports,expensive,Q2,2013
...,...,...,...,...,...,...,...
70,70,Philadelphia,Pennsylvania,food,expensive,Q1,2012
71,71,Springfield,Illinois,food,moderate,Q1,2012
72,72,Chicago,Illinois,sports,moderate,Q2,2013
73,73,Chicago,Illinois,sports,expensive,Q3,2013
74,74,Philadelphia,Pennsylvania,clothes,cheap,Q4,2013
75,75,Philadelphia,Pennsylvania,clothes,moderate,Q4,2012
76,76,Chicago,Illinois,food,cheap,Q4,2012
77,77,Springfield,Illinois,food,expensive,Q1,2013
78,78,Springfield,Illinois,clothes,cheap,Q3,2012
79,79,Chicago,Illinois,food,cheap,Q3,2013
80,80,Philadelphia,Pennsylvania,sports,moderate,Q3,2013
81,81,Philadelphia,Pennsylvania,clothes,expensive,Q1,2012
82,82,Pittsburg,Pennsylvania,food,expensive,Q1,2013
83,83,Pittsburg,Pennsylvania,clothes,moderate,Q3,2012
84,84,Chicago,Illinois,clothes,cheap,Q1,2013
85,85,Springfield,Illinois,clothes,cheap,Q1,2013
86,86,Chicago,Illinois,food,expensive,Q1,2013
87,87,Springfield,Illinois,clothes,cheap,Q2,2012
88,88,Springfield,Illinois,food,cheap,Q1,2013
89,89,Springfield,Illinois,food,expensive,Q3,2013
90,90,Chicago,Illinois,sports,cheap,Q1,2012
91,91,Chicago,Illinois,sports,cheap,Q3,2012
92,92,Chicago,Illinois,food,cheap,Q3,2012
93,93,Philadelphia,Pennsylvania,food,moderate,Q1,2013
94,94,Springfield,Illinois,clothes,moderate,Q3,2013
95,95,Philadelphia,Pennsylvania,clothes,expensive,Q4,2013
96,96,Pittsburg,Pennsylvania,sports,cheap,Q3,2012
97,97,Chicago,Illinois,sports,expensive,Q3,2012
98,98,Pittsburg,Pennsylvania,sports,cheap,Q4,2012
99,99,Chicago,Illinois,clothes,cheap,Q3,2013